body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    color: #333333;
    text-transform: uppercase;
    background-color: #ffffff;
    background-image: url("../image/background-mountain.jpg");
    background-position: 0px 150px;
    background-repeat: no-repeat;
}

.inner-page {
    background-image: url("../image/background-mountain-hotels.jpg");
    width: 768px;
    height: 418px;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.main-navigation {
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    background-color: #ffffff;
}

.site-navigation {
    list-style: none;
}

.site-navigation a {
    color: #000000;
}

.site-navigation a:hover {
    color:  #81b3d2;
}

.site-navigation a:focus {
    color: #000000;
}

.site-navigation a:active {
    color: #766357;
}

.visually-hidden {
    transform: scale(0);
    position: fixed;
}

.filter-option {
    list-style: none;
}

.filter-object {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

.filter fieldset {
    border: none;
}

.filter legend {
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
}


.filter ul {
    list-style: none;
    line-height: 21px;
}

.infrastructure {
    color: #ffffff;
}

.type-of-housing {
    color: #ffffff;
}

.price {
    color: #ffffff;
}

.results {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.sorting {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}

.sorting-price {
    color: #81b3d2;
}

.sorting-type {
    color: #000000;
    opacity: 0.3;
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-decoration-color: #81b3d2;
}

.sorting:active {
    color: #000000;
}


.hotels-item {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    text-align: center;
}

.hotels-item-type {
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    font-weight: 400;
}

.benefits,
.benefits-item {
    list-style: none;
}

.benefits {
    text-align: center;
}

.benefits-list h3 {
    font-size: 21px;
    line-height: 21px;
    
}

.description {
    font-size: 21px;
    line-height: 26px;
    color: #000000;
}

.five-benefits {
    font-size: 14px;
    line-height: 26px;
    color: #333333;
    font-weight: 400;
}

.benefits-item h4 {
    font-size: 21px;
    line-height: 21px;

}

.benefits-description {
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    font-weight: 400;
}

.benefits-second {
    background-color: #eeeeee;    
    background-image: url("gray-bc.jpg");

}

.first-blue-column,
.second-blue-column {
    color: #ffffff;
    background-color: #81b3d2;
    
}

.first-blue-column-benefits,
.second-blue-column-benefits {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

.booking-interested {
    font-size: 30px;
    line-height: 24px;
    color: #000000;
    text-align: center;
    font-weight: 700;
}

.booking-interested-date {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
    text-align: center;
}

.hotel-booking-search {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    background-color: #766357;
    color: #ffffff;
    text-align: center;
}

.search {
    list-style: none;
}

.button-booking {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    font: inherit;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: #81b3d2;
    border: none;
}

.button-search-hotels {
    font: inherit;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    border: #ffffff;
    border: solid;
}

.button-search-hotels:hover {
    background-color: #ffffff;
    color: #000000;
    border: none;
    font-weight: 400;
}

.button-booking a:hover {
    background-color: #669ec0;
}

.button-booking a:active {
    background-color: #5496bd;
    opacity: 0.3;
}

.button-more-info {
    font-size: 14px;
    line-height: 21px;
    font: inherit;
    color: #ffffff;
    background-color: #81b3d2;
}

.button-check {
    font-size: 14px;
    line-height: 21px;
    font: inherit;
    color: #ffffff;
    background-color: #766357;
}

.rating {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #666666;
    background-color: #f2f2f2;
    text-align: right;
}

.hashtag {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-decoration: none;
    color: #000000;
}

.footer-social {
    list-style: none;
}

.social-icon {
    background-color: #81b3d2;
}

.social-icon a:hover {
    background-color: #669ec0;
}

.social-icon a:active {
    background-color: #5496bd;
    opacity: 0.3;
}

.main-footer {
    background-color: #f9fbf6;
    opacity: 0.9;
}

.footer-copyright {
    font-size: 14px;
    line-height: 26px;
    color: #000000;
}

.logo-name {
    display: block;
    width: 115px;
    height: 41px;
    text-decoration: none;
    background-image: url("../image/logo-name.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.logo-name:hover {
    background-image: url("../image/logo-name-blue.png")
}

.logo-name:active {
    background-image: url("../image/logo-name-gray.png");
}