body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    color: #333333;
    text-transform: uppercase;
    background-color: #ffffff;
}

.hotels-container {
    width: 768px;
  height: 593px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url("../image/map.jpg");
  background-position: 0 172px;
  background-size: contain;
  background-repeat: no-repeat;

}

.hotels-wrapper {
width: 567px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
}

.text-input {
    width: 345px;
    box-sizing: border-box;
    height: 40px;
    padding-left: 5px;

    background-color: #f2f2f2;
    border: none;
}

.adults-children {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.form-row {
    margin-top: 55px;
}

.search-adult,
.search-children {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.counter {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    position: relative;
}

.decrease,
.increase {
    position: absolute;
    


    border: none;
    width: 12px;
    

}

.decrease {
    left: 15px;
    top: 18px;

    background-image: url("../image/mns.jpg");

    height: auto;
    
}

.increase {
    right: 15px;
    top: 13px;
    padding: 0;

    background-image: url("../image/plus.jpg");

    height: 11px;
    width: 11px;
}

.text-adults {
    width: 115px;
    height: 37px;
    border: none;
    padding-left: 53px;

    background-color: #f2f2f2;
    box-sizing: border-box;
}

.text-chlidren {
    width: 106px;
    height: 37px;
    border: none;
    padding-left: 50px;

    background-color: #f2f2f2;
    box-sizing: border-box;
}

.kids {
    margin-left: 51px;
}

.btn {
    margin: 0;
    padding: 0;
    margin-top: 25px;

    width: 459px;
    height: 58px;

    background-color: #81b3d2;
    border: none;
    color: white;
    font-size: 21px;
    text-transform: uppercase;
    font-weight: 700;
}

.hotel-booking-search {
    width: 100%;
    height: 88px;
    margin: 0;
    margin-bottom: 54px;
  align-self: stretch; /* тянись в стороны в своем родителе*/
  margin-bottom: 15px;
  box-sizing: border-box;

  background-color: #766357;
  color: white;

  padding-top: 33px;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}


.container {
    width: 768px;
    margin: 0 auto;
}

.background-hotels {
    background-image: url("..//image/background-mountain-hotels.jpg");
    height: 217px;
    background-repeat: no-repeat;

}

.form-hotels {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 685px;
    height: 165px;

    padding-top: 26px;
    padding-left: 42px;
    padding-right: 42px;
}

.object {
    padding: 0;
    margin-left: auto;
}

.list-object {
    padding: 0;
    margin: 0;
    padding-top: 25px;
}

a {
    text-decoration: none;
}

.main-header {
    height: 56px;
    padding-left: 47px;
    padding-right: 47px;

    background-color: #fff;
    color: #000000;
}

.main-navigation {
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    background-color: #ffffff;
}

.site-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    list-style: none;
}

.site-navigation li {
    padding-top: 16px;
}

.site-navigation a {
    color: #000000;
}

.site-navigation a:hover {
    color:  #81b3d2;
}

.site-navigation a:focus {
    color: #000000;
}

.site-navigation a:active {
    color: #766357;
}

.site-navigation .logo {
    width: 138px;
    height: 56px;

    position: relative;
}

.site-navigation .logo img {
    width: 138px;
    position: absolute;
    top: 0px;
    left: 0px;
}



.visually-hidden {
    transform: scale(0);
    position: fixed;
}

.wellcome {
    height: 514px;
    padding-top: 76px;

    background-image: url("../image/background-mountain.jpg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 58px;
}

.wellcome-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.filter-option {
    list-style: none;
    margin-left: auto;
}

.filter-object {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;

   
}

.price-filter {
    padding-top: 10px;
}

.filter fieldset {
    border: none;
}

.filter legend {
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
}


.filter ul {
    list-style: none;
    line-height: 21px;
}

.infrastructure {
    color: #ffffff;
}

.type-of-housing {
    color: #ffffff;
}

.price {
    color: #ffffff;
}

.results {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;

    width: 165px;
    margin: 0;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.column-wrap {
    display: flex;
    flex-direction: column;
}

.sorting-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 85px;
    border-bottom: solid 1px grey;
    background-color: white;

    padding-left: 46px;
    padding-right: 43px;

}

.sorting {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    font-size: 12px;
    line-height: 18px;
    font-weight: 400;

    width: 358px;
    height: 100%;

}

.sorting-price {
    margin-left: 40px;
}

.sorting-type {
    margin-left: 30PX;
}
/* 
.hotels {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 153px;
    border-bottom: solid 1px grey;
    background-color: white;

    padding-left: 46px;
    padding-right: 43px;
} */
/* 
.hotel-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    background-color: white;

    padding-left: 46px;
    padding-right: 43px;
} */

.wrapp {
    display: flex;
    justify-content: space-between;

    padding: 0;
    margin: 0;
}

.sorting-price {
    color: #81b3d2;
}

.sorting-type {
    color: #000000;
    opacity: 0.3;
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-decoration-color: #81b3d2;
}

.sorting:active {
    color: #000000;
}


.hotels-list {
    padding: 0;
    
}



.benefits,
.benefits-item {
    list-style: none;
}

.benefits {
    padding: 0px;
    margin: 0px;
    text-align: center;
}



.benefits-list h3 {
    font-size: 21px;
    line-height: 21px;

}


.row {
    height: 257px;

    background-color: #81b3d2;
    background-image: url("../image/background-photofalg.jpg");
    background-position: top right;
    background-size: 512px 256px ;
    background-repeat: no-repeat;

    color:#ffffff;
}

.row-two {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    height: 257px;
    background-color: #81b3d2;
    background-image: url("../image/background-photo-canyon.jpg");
    background-position: top left;
    background-size: 512px 256px ;
    background-repeat: no-repeat;

    color:#ffffff;
}


.text-wrapper {
    width: 256px;
}


.text-wrapper h3 {
    padding: 0;
    margin: 0;
    padding-top: 45px;
}

.two-text-wrapper {
    width: 256px;
    padding-top: 15px;
    
}

.two-text-wrapper h3 {
    padding: 0;
    margin: 0;
    padding-top: 45px;
}

.description {
    margin: 0;
    padding: 0;
    font-size: 21px;
    line-height: 26px;
    color: #000000;
    text-align: center;
}

.five-benefits {
    margin: 0;
    padding: 0;
    margin-top: 45px;
    margin-bottom: 58px;

    font-size: 14px;
    line-height: 26px;
    color: #333333;
    font-weight: 400;
    text-align: center;

}

.benefits-item h4 {
    margin: 0;
    padding: 0;

    font-size: 21px;
    line-height: 21px;

}

.benefits-item {
    margin: 0;
    padding: 0;
    padding-left: 47px;
    padding-right: 47px;
    padding-top: 58px;
    margin-bottom: 65px;

    height: 204px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.benefits-item li {
    width: 165px;
}

.benefits-item img{
    margin-bottom: 30px;
}


.benefits-description {
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    font-weight: 400;
}

.benefits-second {
    background-color: #eeeeee;
    background-image: url("gray-bc.jpg");

}

.first-blue-column,
.second-blue-column {
    color: #ffffff;
    background-color: #81b3d2;

}

.first-blue-column-benefits,
.second-blue-column-benefits {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

.last-benefits-row {
    list-style: none;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    height: 257px;

    padding: 0;
    padding-left: 47px;
    padding-right: 47px;

    background-color: #eeeeee;
    background-position: top center;
    background-repeat: no-repeat;
    
}

.last-benefits-list {
    margin: 0;
    padding: 0;
    margin-top: 45px;
}

.last-benefits-list h3 {
    margin: 0;
    padding: 0;
    padding-bottom: 25px;
}

.last-benefits-list p {
    margin: 0;
    padding: 0;
    padding-bottom: 25px;
}

.first-blue-column-benefits {
    margin: 0;
    padding: 0;
    padding-top: 20px;

    text-align: center;
}

.booking-interested {
    font-size: 30px;
    line-height: 24px;
    color: #000000;
    text-align: center;
    font-weight: 700;

    margin: 0;
    padding: 0;
    margin-top: 53px;
    margin-bottom: 34px;
    
}

.booking-interested-date {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
    text-align: center;

    margin: 0;
    padding: 0;
    margin-bottom: 50px;
}

.hotel-booking {
    
    width: 567px; 
    height: 484px;
}

.appointment-form {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
}

.calendar {
    position: absolute;
    top: 7px;
    right: 20px;

    border: none;
    background-image: url("../image/calendar.jpg");
    width: 21px;
    height: 22px;
}

.row-title {
    width: 113px;
    
}

.row-title-ch {
    width: 66px;
}

.search-arrival-date,
.search-depature-date,
.search-adult,
.search-children {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.search-depature-date {
    position: relative;
}

.search-arrival-date {
    position: relative
}


/* .search {
    list-style: none;

    margin: 0;
    padding: 0;
    padding-left: 50px;
    padding-right: 50px;
} */

.button-booking {
    width: 460px;
    height: 55px;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    font: inherit;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: #81b3d2;
    border: none;
}

.button-search-hotels {
    font: inherit;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    border: #ffffff;
    border: solid;
}

.button-search-hotels:hover {
    background-color: #ffffff;
    color: #000000;
    border: none;
    font-weight: 400;
}

.button-booking a:hover {
    background-color: #669ec0;
}

.button-booking a:active {
    background-color: #5496bd;
    opacity: 0.3;
}

.hashtag {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-decoration: none;
    color: #000000;
}

.footer-social {
    list-style: none;
}

.social-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #81b3d2;
    height: 46px;
    width: 46px; 
}

.copyright {
    margin: 0;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.social-icon a:hover {
    background-color: #669ec0;
}

.social-icon a:active {
    background-color: #5496bd;
    opacity: 0.3;
}

.main-footer .container {
    display: flex;
    align-items: center;
}


.footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    height: 120px;
}

.col {
    width: 33%;

    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.visiually-hidden {
    display: none;
}

.footer-social ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 141px;
        margin: 0 auto;
        padding: 0;
        list-style: none;

        
    }

.footer-copyright {
    margin-right: 5px;

    font-size: 14px;
    line-height: 26px;
    color: #000000;
}

.logo-name {
    display: block;
    width: 115px;
    height: 41px;
    text-decoration: none;
    background-image: url("../image/logo-name.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.logo-name:hover {
    background-image: url("../image/logo-name-blue.png")
}

.logo-name:active {
    background-image: url("../image/logo-name-gray.png");
}

.hotels-item {
    display: flex;
    flex-wrap: nowrap;
        
    list-style: none;
    
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    height: 153px;

    padding-left: 47px;
    padding-right: 43px;

    border-bottom: solid 1px grey;
}

.hotels-photo {
    width: 165px;
    height: 100%;

    margin: 0;
    padding: 0;

    padding-top: 30px;
}

.hotels-photo img {
    width: 137px;
    height: 90px;

    float: left;
}

.first-hot {
    width: 358px;
    height: 100%;

    padding-top: 30px;
}

.hotels-title,
.hotels-item-type {
    margin: 0;
    padding: 0;
}

.hotels-title {
    margin-bottom: 15px;
}

.hotels-item-type {
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    font-weight: 400;

    margin-bottom: 15px;
}

.hotels-item-type span:nth-child(1) {
    margin-right: 35px;
}


.button-more-info {
    font-size: 14px;
    line-height: 14px;
    color: #ffffff;
    background-color: #81b3d2;
    text-align: center;

    display: block;
    height: 27px;

    box-sizing: border-box;

    padding-left: 17px;
    padding-right: 17px;
    margin-right: 5px;
    padding-top: 7px;
}

.button-check {
    font-size: 14px;
    line-height: 14px;
    color: #ffffff;
    background-color: #766357;
    text-align: center;

    display: block;
    height: 27px;

    box-sizing: border-box;

    padding-left: 17px;
    padding-right: 17px;
    margin-right: 5px;
    padding-top: 7px;
    
}

.botton-form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    margin: 0;
    padding: 0;
}


.first-ret {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;


    margin-left: auto;

    padding-top: 30px;

}

.stars,
.rating {
    margin: 0;
    padding: 0;
}

.stars {
    background-image: url("../image/star.svg");
    background-size: 16px 18px;

    width: 64px;
    height: 20px;

    margin-bottom: 47px;
}

.rating {
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    color: #666666;
    background-color: #f2f2f2;

    width: 110px;
    height: 27px;

    padding-top: 7px;
    padding-left: 16px;

    box-sizing: border-box;
}

.bottom-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    margin-left: auto;
}


.down,
.up {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
}

.down {
    width: 11px;
    height: 10px;
    background-image: url("../image/icon-down-dir.png");
}

.up {
    width: 11px;
    height: 10px;
    background-image: url("../image/icon-up-dir.png");
}

.limit {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    padding-top: 6px;
    padding-bottom: 6px;

    border: 1px solid white;
}

.from {
    display: block;
    text-align: center;
    border-right: 1px solid white;

    width: 106px;
    height: 25px;
}

.to {
    display: block;
    text-align: center;

    width: 106px;
    height: 25px;
}

.range {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inp {
    margin-left: 5px;
    margin-right: 5px;
}

.btn-ser {
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

.button-search-hotels {
    width: 136px;
    height: 38px;

    display: block;
    padding-top: 7px;
    box-sizing: border-box;
}